    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.mainTitle{
  font-size:180px; 
  font-family:'Avenir'; 
  font-weight:900;
  height: 200px;
  color: rgb(13, 17, 22);
  margin: 0px;
  line-height: 0.85;
}

.subTitle{
  font-size:30px; 
  font-family:'Helvetica Neue'; 
  font-weight:300;
  height:40px;
}

.mainImage{
  max-width: 570px;
  margin-left: 00px;
}

.mainPage{
  margin-top: 150px;
}

.flex-containter{
  flex:wrap;
  flex-wrap: row;
  display: flex;
}

.searchBar{
  box-shadow: 0px 0px 12px #dfdfdf;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  width: 750px;
  height: 60px;
  margin: auto;
  transition:0.3s;
}

.searchBar:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 23px #d4d4d4;
}

.results{
  align-items: 'center';  
  margin: auto;
  min-width: 1200px;
  justify-content: center; 
  margin-top: 40px;
}

.imgClass{
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 10px 20px 10px 20px;
}
.resultCardContent{
  max-width: 800px;
  display: inline-block;
}
.resultCardImg{
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 1;
  display: inline-block; 
}

.resultCardTitle{
  color: black;
  font-family: avenir;
  font-size: 20px;
  font-weight: 900;
  margin: 5px;
}

.resultCardPrice{
  color: black;
  font-family: avenir;
  font-size: 20px;
  font-weight: 900;
  margin: 5px;
  display: inline-block;
}

.resultCard{
  transition: 0.4s;
  align-items: center;
  margin: auto;
  width:1000px;
  height: 170px;
  background: white;
  margin-bottom: 30px;
  box-shadow: 0px 0px 12px #dfdfdf;
  padding: 5px;
}

.resultCard:hover{
  transform: scale(1.04);
  box-shadow: 0px 0px 23px #d4d4d4;
}