@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,900&display=swap');

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mainTitle{
  font-size:180px; 
  font-family: 'Avenir','Nunito Sans', 'Helvetica Neue', sans-serif; 
  font-weight:900;
  height: 200px;
  color: rgb(13, 17, 22);
  margin: 0px;
  line-height: 0.85;
}

.subTitle{
  font-size:30px; 
  font-family:'Helvetica Neue', sans-serif; 
  font-weight:300;
  height:40px;
}

.mainImage{
  max-width: 570px;
  margin-left: 00px;
}

.mainPage{
  margin-top: 150px;
}

.flex-containter{
  flex:wrap;
  flex-wrap: row;
  display: flex;
}

.searchBar{
  box-shadow: 0px 0px 12px #dfdfdf;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  width: 750px;
  height: 60px;
  margin: auto;
  transition:0.3s;
}

.searchBar:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 23px #d4d4d4;
}

.results{
  align-items: 'center';  
  margin: auto;
  min-width: 1200px;
  justify-content: center; 
  margin-top: 40px;
}

.imgClass{
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 10px 20px 10px 20px;
}
.resultCardContent{
  width: 800px;
  padding-left: 10px;
  display: inline-block;
}
.resultCardImg{
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 1;
  display: inline-block; 
}

.resultCardTitle{
  color: black;
  font-family: avenir,'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin: 5px;
}

.resultCardPrice{
  color: black;
  font-family: avenir,'Nunito Sans', sans-serif;
  font-size: 28px;
  font-weight: 900;
  margin: 5px;
  display: inline-block;
}

.resultGraphTitle{
  color: black;
  font-family: avenir,'Nunito Sans', sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin: 5px;
  margin-bottom: '1px';
}

.resultGraphPrice{
  color: black;
  font-family: avenir,'Nunito Sans', sans-serif;
  font-size: 28.5px;
  font-weight: 900;
  margin: 5px;
}

.resultCard{
  transition: 0.4s;
  align-items: center;
  margin: auto;
  width:1000px;
  height: 170px;
  background: white;
  margin-bottom: 30px;
  box-shadow: 0px 0px 12px #dfdfdf;
  padding: 10px;
}

.resultCard:hover{
  transform: scale(1.04);
  box-shadow: 0px 0px 23px #d4d4d4;
}

.viewProduct{
  font-family: 'avenir', 'Nunito Sans', sans-serif;
  font-weight: 700;
  background-color:'#FEBD69';
}

@media (max-width: 800px) {
  .text-Navbar{
    display: none;
  }
}